body {
  background-color: #f5f7f8;
  direction: rtl;
  font-family: "Tahoma", sans-serif;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 22px;
  width: 420px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0a3a2a;
}

.ab-input-group {
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  padding: 0.7rem 1rem;
  background: white;
}

.ab-input-group svg {
  opacity: 0.7;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}



.icon-eye {
  border: none;
  background: none;
}

.togglePassword {
  border: none;
  background: none;
  cursor: pointer;
}

.forgot-password-link {
  color: #008067;
  font-size: 14px;
}

.ab-btn {
  margin-top: 1rem;
  padding: 0.9rem;
  border-radius: 12px;
  border: none;
  font-size: 17px;
}

.ab-btn--solid.primary {
  background: #008067;
  color: white;
}

.login-footer a {
  color: #007050;
  font-size: 15px;
  text-decoration: none;
}
